@use 'bulma/sass/utilities/initial-variables' as iv;

.card {
  --bulma-shadow:
    0 0.25em 0.5em -0.25em hsla(221deg, 14%, 4%, 0.1), 0 0px 0 1px hsla(221deg, 14%, 4%, 0.02);
  border: 1px solid iv.$grey-lighter;
}

.dashboard-list-card {
  overflow: hidden;
}

.dashboard-list-card > .card-content {
  height: 100%;
  overflow: hidden;
}

.dashboard-list-card__title,
.dashboard-list-card__subject,
.dashboard-list-card__description {
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dashboard-list-card__content {
  min-width: 0;
}

.dashboard-list-card__tags {
  min-width: 0;
  overflow: hidden;
  flex-wrap: nowrap;
}
