# GitHub OAuth Configuration
NUXT_OAUTH_GITHUB_CLIENT_ID=xxx
NUXT_OAUTH_GITHUB_CLIENT_SECRET=xxx

# Session Configuration
NUXT_SESSION_PASSWORD=xxx

AUTH_PAT_ENABLED=true
AUTH_GITHUB_OAUTH_ENABLED=false
